{% include "partials/header.njk" %}

<div class="container mt-4">
    <div class="row">
        <div class="col-sm-12 col-lg-3 pt-5">
            <div class="card">
                <ul class="list-group list-group-flush" id="albumListe">

                </ul>
            </div>
        </div>
        <div class="col-lg-9 col-12 pt-5">
            <div class="row mx-auto" id="cardDiv">
            </div>
        </div>
        </br>
        <div class="container imgs">
        <span class="closebtn" id="closeBtn" onclick="myFunction(id)">&times;</i></span>
            <img id="bigImage">
        </div>
    </div>
</div>

<script>
var closeBtn=document.getElementById("closeBtn")
closeBtn.addEventListener("click" , function() {
  closeBtn.parentElement.style.display='none';
})
</script>

{% include "partials/footer.njk" %}