{% include "partials/header.njk" %}

<div class="container errorMes">
    <h2>Lütfen önce giriş yapınız.</h2>
    <a class="btn btn-primary" href="/" role="button">Login</a>
</div>

{% include "partials/footer.njk" %}